.weather {
  color: #ffffff;

  &__container {
    background-color: #222831;

  }

  &__side {}

  .search__city {
    border-radius: 20px;
    padding: 10px 20px;
  }

  .search__submit {
    outline: none;
    border-radius: 25px;
    padding: 10px;
  }


}