.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;

  &__slide {
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 100%;
    height: 100%;
  }

  &__slide-hidden {
    display: none;
  }

  &__arrow {
    position: absolute;
    filter: drop-shadow(var(--box-shadow));
    width: 2rem;
    height: 2rem;
    color: white;

    &:hover {
      cursor: pointer;
    }

    &-left {
      left: 1rem;
    }

    &-right {
      right: 1rem;
    }

  }

  &__indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
  }

  &__indicator {
    background-color: white;
    height: 1em;
    width: 1rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: var(--box-shadow);
    ;
    margin: 0 0.2rem;
    cursor: pointer;

    &-inactive {
      background-color: grey;
    }
  }


}