/*! SASS #base base */

a {
  text-decoration: none;
  color: inherit;
  //color: #D6A461;

}

a:hover {
  //text-decoration: underline;
  //color: #462425;

}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.inherit {
  list-style: inherit;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;

}

ul.inherit li {
  list-style-type: circle;
}

figure {
  margin: 0;
}

i.icones {
  font-family: fontawesome;
  font-style: initial;

}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

body {
  background-color: #F2F2F2ff;
}

main {
  min-height: 90vh;
}