h1,
h2,
h3,
h4,
h5,
h6 {
  //font-family: Montserrat;
  font-family: 'Roboto', sans-serif;
}



h1,
.h1 {
  font-size: 3rem;
  font-style: normal;
  letter-spacing: 4px;
  line-height: 5rem;
  margin-block: 0.5rem;

}



h1>strong,
h2>strong,
p>strong {
  color: var(--main-color);
}

h2,
.h2 {
  font-size: 2.25rem;
  font-style: normal;
  height: auto;
  letter-spacing: 2px;
  line-height: 54px;

}

.subtitle {
  color: var(--grey);
  margin-block: 0.5em -0.5rem;
  margin-block: 1.5em 1.5rem;

}

h3,
.h3 {

  font-size: 1.75rem;

}

h4,
.h4 {
  font-size: 1.5rem;

}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1.15rem;
}

p {


  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  height: auto;
  letter-spacing: 0.5px;
}